/* Setze Hintergrundbild mit !important */
.mainpage-background {
  background-image: url("../../../public/bilder/MainBG.jpg");
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
