/* Setze Hintergrundbild mit !important */
.mainpage-background {
  background-image: url("../../../public/bilder/Overworldbajuti.jpg");
  background-size: cover !important; /* Hintergrundbild deckt den gesamten Bildschirm ab */
  background-position: center !important; /* Zentriert das Bild */
  background-repeat: no-repeat !important; /* Verhindert, dass das Bild wiederholt wird */
  background-attachment: fixed; /* Parallax-Effekt */
  position: relative; /* Erforderlich für die Overlay-Überlagerung */
  animation: fadeInBackground 1.5s ease-out; /* Fading-Effekt beim Laden der Seite */
}
.account-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.account-header {
  color: #333;
}

.section-header {
  margin-top: 20px;
  color: #ebebeb;
  cursor: pointer;
}

.section-content {
  padding-left: 20px;
  line-height: 1.8;
}

.equip-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: green;
  color: #222;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.unequip-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-character-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff5733;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.create-character-container input {
  padding: 5px;
  margin-right: 10px;
}

.create-character-container button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #1e90ff;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.go-to-fight-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #ff6347;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}
