/* Hintergrundbild */
.crafting-background {
  background-image: url("../../../public/bilder/Craftingbajuti.jpg") !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

/* Container für das Crafting */
.crafting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Titel */
.crafting-title {
  background-color: #d40b33;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

/* Rezepte-Layout */
.recipes-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.recipes-column {
  flex: 1;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 15px;
}

.recipe-title {
  text-align: center;
  font-size: 1.5em;
  color: #555;
  margin-bottom: 10px;
}

/* Rezeptlisten */
.recipe-list {
  list-style: none;
  padding: 0;
}

.recipe-item {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.recipe-item:hover {
  background-color: #dee2e6;
  transform: scale(1.02);
}

/* Ausgewähltes Rezept */
.selected-recipe {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.selected-recipe-title {
  text-align: center;
  font-size: 1.2em;
  color: #333;
}

.selected-recipe-detail {
  color: #555;
  margin-bottom: 10px;
}
