/* Setze Hintergrundbild mit !important */
.form-background {
  background-image: url("../../../public/bilder/Loginbajuti2.jpg");
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
