.battlearena {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #ffffff; /* Weißer Text */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Leicht durchsichtiger Hintergrund für besseren Kontrast */
}

.battle-area {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.player {
  text-align: center;
  margin-right: 2em;
}
.enemy {
  text-align: center;
  margin-left: 2em;
}

.character-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.health-bar {
  width: 200px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px auto;
}

.health-bar-fill {
  height: 100%;
  transition: width 0.5s ease-out;
}

.player-hp {
  background-color: green;
}

.enemy-hp {
  background-color: red;
}

.fight-button,
.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold; /* Fettgedruckter Text für bessere Lesbarkeit */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Schattierung für mehr Tiefe */
}

.fight-button {
  background-color: #007bff;
  color: white;
}

.fight-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.back-button {
  background-color: #f44336;
  color: white;
  margin-left: 10px;
}

.fight-result {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 18px; /* Größere Schrift für die Kampfergebnisse */
  font-weight: bold; /* Fettgedruckt für bessere Lesbarkeit */
  color: #f1f1f1; /* Helle Schriftfarbe */
}

.log-toggle {
  cursor: pointer;
  font-weight: bold; /* Fettgedruckter Text für den Log-Button */
}

.battle-log {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9; /* Heller Hintergrund für das Log */
  color: #333; /* Dunklere Textfarbe für bessere Lesbarkeit */
}

.error-message {
  color: red;
  font-weight: bold; /* Fettgedruckt für Fehlernachrichten */
  font-size: 18px; /* Größere Schrift für Fehler */
}
